@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Raleway:300,400');

.container {
	background-color: #D8BFD8;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding: 50px 30px 50px 80px;
}

.jumbotron {
	font-family: 'Arima Madurai', cursive;
	text-decoration-color: #00FA9A;
}